@tailwind base;
@tailwind components;
@tailwind utilities;

#cont {
    box-shadow: 3px 4px 154px -46px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 3px 4px 154px -46px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 3px 4px 154px -46px rgba(0, 0, 0, 0.7);
    width: 50%;
    min-width: 50%;
    max-width: 50%;
}
